<html>
<head>
  <title>Meetups Map Viewer</title>
  <link rel="stylesheet" href="/Semantic-UI/dist/semantic.min.css">

</head>
<body>

  <div class='ui fixed inverted menu'>
    <a class="title item">Meetups Map Viewer</a>
    <div class='right menu'>
      <div class='item'>
        <div class="ui inverted red button">Sign in with Meetup</div>
      </div>
    </div>
  </div>

</body>
</html>
